.app {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

.tweet {
  padding-top: 80px;
  width: 320px;
  height: 100%;
  overflow: hidden;
}

.search {
  position: fixed;
  top: 40px;
}

.tweet-mobile {
  margin-top: 40px;
  height: calc(100% - 40px);
}

.map-wrapper {
  position: relative;
  height: 100%;
}

.map-wrapper-mobile {
  width: 100%;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.mat-drawer-container {
  overflow: visible;
}
