.app {
  display: flex;
  flex-direction: column;
  height: calc(100% - 112px);
}

.tweet {
  width: 320px;
  height: 100%;
  overflow: hidden;
}

.tweet-mobile {
  margin-top: 112px;
  height: calc(100% - 112px);
}

.map-wrapper {
  position: relative;
  height: 100%;
}

.map-wrapper-mobile {
  width: 100%;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.mat-drawer-container {
  overflow: visible;
}
