<ul class="tweets">
  <li *ngFor="let tweet of tweets" [class.selected]="tweet.place" class="tweet"
    (click)="handleTweetClick(tweet.lat, tweet.lng)">
    <p class="name">
      <a href="{{ tweet.link }}" target="_blank"><img src="{{ tweet.img }}" width="24"
          style="vertical-align: middle;" /></a>
      &nbsp;
      <a href="{{ tweet.link }}" target="_blank">
        <b>{{ tweet.name }}</b>
      </a>
    </p>
    <p class="content">{{ tweet.text }}</p>
    <p class="date">{{ tweet.createdAt }} {{ tweet.place }}</p>
  </li>
</ul>