.header {
  margin: 0;
  box-sizing: border-box;
  line-height: 40px;
  height: 40px;
  padding: 0;
  background-color: rgba(28,161,242,1);
  color: #fff;
  display: flex;
  justify-content: center;
}

.icon {
  width: calc(100% / 3);
}

h1 {
  width: calc(100% / 3);
  text-align: center;
  margin: 0;
  font-size: 20px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.spacer {
  width: calc(100% / 3);
}
